<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.thezoo3">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity">
            <intent-filter android:autoVerify="true"
                tools:targetApi="m">
              <action android:name="android.intent.action.VIEW" />
              <category android:name="anroid.intent.category.BROWSABLE"  />
              <data android:scheme="http://www.nationalgeographic.com/animals/mammals/a/african-lion/" />
              <data android:scheme="https://www.nationalgeographic.com/animals/mammals/a/african-elephant/" />
              <data android:scheme="https://www.nationalgeographic.com/animals/mammals/s/spotted-hyena/" />
              <data android:scheme="https://www.nationalgeographic.com/animals/mammals/p/plains-zebra/"  />
            </intent-filter>
        </activity>
    </application>

</manifest>